.admin_layout{
  .ant-layout{
    background-color: #f0f2f5;
  }

  .ant-layout-header{
    padding: 0 100px !important;
  }
  .logo {
    float: left;
    position: relative;
    color: #fff;
    font-size: 20px;
  }

  .site-layout-background {
    background: #fff;
  }

  .ant-menu-inline{
    background: #f0f2f5;
    height: calc(100vh - 70px)!important;
  }

  .layout_right{
    float: right;
  }
}

.layout_loading{
  background: rgba(0,0,0, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  .loading_container{
    background: #fff;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }
}






