.admin_layout{
  .ant-layout{
    background-color: #f0f2f5;
  }

  .ant-layout-header{
    padding: 0 100px !important;
  }
  .logo {
    float: left;
    position: relative;
    color: #fff;
    font-size: 20px;
  }

  .site-layout-background {
    background: #fff;
  }

  .ant-menu-inline{
    background: #f0f2f5;
    height: calc(100vh - 70px)!important;
  }

  .layout_right{
    float: right;
  }
}






