.layout {


  :global {
    .ant-layout-header {
      padding: 0;
    }

    .ant-layout {
      background: #fff;

      .ant-layout-has-sider {
        margin-top: 10px;
      }
    }
  }

  .big_header {
    background: #fff;
    box-shadow: 0 -2px 8px 0 #ddd;
    padding-bottom: 10px;
  }

  .aside {
    background: #fff
  }

  .layout_loading{
    background: rgba(0,0,0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    .loading_container{
      background: #fff;
      padding: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 20px;
    }
  }
}
